<h1 class="text-center my-4">
  <i class="fas fa-graduation-cap me-2 text-primary"></i>
  <strong>TFG</strong>Finder <span class="text-muted">GEIADE</span>
</h1>

<div class="jumbotron bg-light rounded shadow-sm p-4">
  <p>TFG Finder GEIADE is an application designed to streamline the management and discovery of Final Degree Project proposals, offering an intuitive interface for students, teachers and organisations.</p>
  <p>Source code:</p>
  <ul class="repo-links">
    <li>
      <a href="https://github.com/UdL-EPS-SoftArch/tfgfinder-geiade-api" target="_blank">
        <i class="fab fa-github"></i> Spring Back-End
      </a>
    </li>
    <li>
      <a href="https://github.com/UdL-EPS-SoftArch/tfgfinder-geiade" target="_blank">
        <i class="fab fa-github"></i> Angular Front-End
      </a>
    </li>
  </ul>

</div>

<footer class="bg-light rounded shadow-sm p-3 mt-4">
  <div class="text-center">
    <small class="text-muted">&copy; 2025 TFGFinder GEIADE.</small>
  </div>
</footer>

