<div class="d-flex justify-content-end my-2">
  <button type="button"
          class="btn m-1 btn-success"
          [routerLink]="['/invite/create']">
    <span class="fas fa-plus-circle me-1"></span> Create a new invite
  </button>
</div>

<div class="card mb-1" *ngFor="let invite of invites">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-2 mt-1">
        <h6 class="card-subtitle text-muted">Id</h6>
        <p class="card-text">{{ invite.id }}</p>
      </div>
      <div class="col-3 mt-1">
        <h6 class="card-subtitle text-muted">Who</h6>
        <a class="card-text" [routerLink]="['/users', invite.who?.username]">{{invite.who?.username}}</a>
      </div>
      <div class="col-3 mt-1">
        <h6 class="card-subtitle text-muted">What</h6>
          <a class="card-text" [routerLink]="['/users', invite.what?.title]">{{invite.what?.title}}</a>
      </div>
      <div class="col-2 mt-1">
        <h6 class="card-subtitle text-muted">Status</h6>
        <p class="card-text">{{invite.status}}</p>
      </div>
      <div class="col-2 mt-1 text-end">
        <button id="deleteBtn" type="button" *ngIf="invite.id === invite.id" [routerLink]="['delete']"
                class="btn m-1 btn-outline-danger">Delete
        </button>
      </div>

    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalInvites"
                (pageChange)="changePage()"></ngb-pagination>



